## Predicting number of victims in collisions in California

In [9]:
# basics
import pandas as pd
import numpy as np
import shap
import sqlite3

# initial stab at the problem
from lazypredict.Supervised import LazyRegressor

# displaying
np.set_printoptions(threshold=80)
pd.set_option('display.max_columns', 80)
pd.set_option('display.max_rows', 80)

In [21]:
con = sqlite3.connect('../../../iCloud/Employment/Plentina/switrs.sqlite')

query_victims = """
SELECT COUNT(id) as count_victims, case_id
FROM victims
GROUP BY case_id
"""

df_victims = pd.read_sql_query(query_victims, con)

In [27]:
df_victims.sort_values("count_victims", ascending=False).head(10)

         count_victims  case_id
2711023            184  5186423
3586872            119  6854642
1649802            116  3150216
3352873            116  6422416
422837             112  0828420
4470469            101  9028245
3823955             99  8073733
1934776             97  3698263
1397833             96  2671741
715541              89  1407091